<!--
  This template loads for the 'tab.healthcond-detail' state (app.js)
  'firend' is a $scope variable created in the HealthcondsCtrl controller (controllers.js)
  The HealthcondsCtrl pulls data from the Healthconds service (service.js)
  The Healthconds service returns an array of healthcond data
-->
<ion-view title="{{healthcond.name}}">
  <ion-content has-header="true" padding="true">
  	<button class="button button-balanced button-block">
    WHAT TO EAT/DRINK
    </button>
  	<ul class="list">
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
  		<li class="item item-checkbox checkbox-balanced">
     		<label class="checkbox">
       			<input type="checkbox">
    		</label>
     		Flux Capacitor
  		</li>
	</ul>
	<button class="button button-block" id="herbcolour">
    RECOMMENDED HERBS
    </button>
      	<ul class="list">
	  		<li class="item item-checkbox">
	     		<label class="checkbox">
	       			<input type="checkbox" class="custom-checkbox">
	    		</label>
	     		Flux Capacitor
	  		</li>
	  		<li class="item item-checkbox">
	     		<label class="checkbox">
	       			<input type="checkbox">
	    		</label>
	     		Flux Capacitor
	  		</li>
	  		<li class="item item-checkbox">
	     		<label class="checkbox">
	       			<input type="checkbox">
	    		</label>
	     		Flux Capacitor
	  		</li>
	  		<li class="item item-checkbox">
	     		<label class="checkbox">
	       			<input type="checkbox">
	    		</label>
	     		Flux Capacitor
	  		</li>
	  		<li class="item item-checkbox">
	     		<label class="checkbox">
	       			<input type="checkbox">
	    		</label>
	     		Flux Capacitor
	  		</li>
	  		<li class="item item-checkbox">
	     		<label class="checkbox">
	       			<input type="checkbox">
	    		</label>
	     		Flux Capacitor
	  		</li>
		</ul>
	<button class="button button-assertive button-block">
    WHAT TO AVOID
    </button>
    <div class="list">
  		<a class="item item-icon-left" href="">
    		<i class="icon ion-close-circled custom-icon"></i>
    		sugar
  		</a>
  		<a class="item item-icon-left" href="">
    		<i class="icon ion-close-circled custom-icon"></i>
    		alcohol
  		</a>
  		<a class="item item-icon-left" href="">
    		<i class="icon ion-close-circled custom-icon"></i>
    		red meat
  		</a>
  		<a class="item item-icon-left" href="">
    		<i class="icon ion-close-circled custom-icon"></i>
    		gluten
  		</a>
  		<a class="item item-icon-left" href="">
    		<i class="icon ion-close-circled custom-icon"></i>
    		dairy
  		</a>
  		<a class="item item-icon-left" href="">
    		<i class="icon ion-close-circled custom-icon"></i>
    		coffein
  		</a>
	</div>
	<button class="button button-positive button-block">
    FIND RECIPES
    </button>
  </ion-content>
</ion-view>
